
*{
    background-color:#E8FFD7;
}
.blue-text{
    color:#3E5F44;
}
.blue-text{
    background-color:#93DA97;
}
.knewave-regular {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  h2{
    font: 2em small-caption;
    font-family: 'Times New Roman', serif;
  }
  h1{
    border: #b1e2ba;
    font: 3.5em small-caption;
   font-family:'Times New Roman', serif;
  }
  h2{
    font-weight: bolder;
  }
  h2{
    text-align: center;
  }
  p{
    font-size: large;
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-weight: bolder;
  }
  *{
    font-weight: bold;
  }
  h3{
    text-align: center;
  }